
heatmap_tool/data/
heatmap_tool/dataset/
heatmap_tool/train/data/
heatmap_too/cam_results/
# Model checkpoints
heatmap_tool/checkpoints/

# Results
heatmap_tool/xai_results/

# Environment
xai_env/

# Configuration
vessl.yaml
